{% extends 'base.html.twig' %}

{% block title %}Liste des bâtiments{% endblock %}

{% block body %}
    <div class="table-wrapper">
        <h1>Liste des bâtiments</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for batiment in batiments %}
                <tr>
                    <td>{{ batiment.adresse }}</td>
                    <td>{{ batiment.ville }}</td>
                    <td>
                        <a href="{{ path('app_batiment_show', {'id': batiment.id}) }}">Afficher</a>
                        <a href="{{ path('app_batiment_edit', {'id': batiment.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de bâtiments trouvés !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="button-group">
            <a href="{{ path('app_accueil') }}" class="btn btn-primary">Accueil</a>
            <a href="{{ path('app_batiment_new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>

{% endblock %}
