{% extends 'base.html.twig' %}

{% block title %}Batiment{% endblock %}

{% block body %}
    <div class="card-detail">
        <h1>Batiment</h1>

        <div class="info">
            <p><strong>Adresse :</strong> {{ batiment.adresse }}</p>
            <p><strong>Ville :</strong> {{ batiment.ville }}</p>
        </div>

        <div class="actions">
            <a href="{{ path('app_batiment_index') }}" class="btn btn-primary">Retour</a>
            <a href="{{ path('app_batiment_edit', {'id': batiment.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('batiment/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}


