{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="form-card">
        <h2>Créer un compte</h2>

        {% for message in app.flashes('verify_email_error') %}
            <div class="alert-danger">{{ message }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, { label: 'Email' }) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <div class="checkbox-inline">
            <label for="{{ registrationForm.agreeTerms.vars.id }}">Accepter les conditions</label>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>

        <p class="account-msg">
            Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a> !
        </p>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}

