{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-wrapper">
        <div class="home-card">
            <h1>Bienvenue sur AzurImmo !</h1>
            <ul>
                <li><a href="{{ path('app_appartement_index') }}">Gestion des Appartements</a></li>
                <li><a href="{{ path('app_batiment_index') }}">Gestion des Bâtiments</a></li>
                <li><a href="{{ path('app_contrat_index') }}">Gestion des Contrats</a></li>
                <li><a href="{{ path('app_locataire_index') }}">Gestion des Locataires</a></li>
            </ul>
            <div class="auth-buttons">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
