{% extends 'base.html.twig' %}

{% block title %}Liste des appartements{% endblock %}

{% block body %}
    <div class="table-wrapper">
        <h1>Liste des appartements</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Numero</th>
                <th>Surface</th>
                <th>Nbre_pieces</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for appartement in appartements %}
                <tr>
                    <td>{{ appartement.id }}</td>
                    <td>{{ appartement.description }}</td>
                    <td>{{ appartement.numero }}</td>
                    <td>{{ appartement.surface }}</td>
                    <td>{{ appartement.nbrePieces }}</td>
                    <td>
                        <a href="{{ path('app_appartement_show', {'id': appartement.id}) }}">Afficher</a>
                        <a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas d'appartements trouvés !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="button-group">
            <a href="{{ path('app_accueil') }}" class="btn btn-primary">Accueil</a>
            <a href="{{ path('app_appartement_new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>

{% endblock %}
