{% extends 'base.html.twig' %}

{% block title %}Appartement{% endblock %}

{% block body %}
    <div class="card-detail">
        <h2>{{ appartement.description }}</h2>

        <div class="info">
            <p><strong>Numéro :</strong> {{ appartement.numero }}</p>
            <p><strong>Surface :</strong> {{ appartement.surface }} m²</p>
            <p><strong>Nombre de pièces :</strong> {{ appartement.nbrePieces }}</p>
        </div>

        <div class="actions">
            <a href="{{ path('app_appartement_index') }}">Accueil</a>
            <a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}">Modifier</a>
            {{ include('appartement/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

