<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
        {% endblock %}


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% if app.request.attributes.get('_route') == 'app_accueil' %}body-centered{% endif %}">
    {% set currentRoute = app.request.attributes.get('_route') %}

    {% if currentRoute not in ['app_accueil', 'app_login', 'app_register'] %}
        <nav class="main-navbar">
            <ul class="main-navbar-links">
                <li><a href="{{ path('app_appartement_index') }}">Appartements</a></li>
                <li><a href="{{ path('app_batiment_index') }}">Bâtiments</a></li>
                <li><a href="{{ path('app_contrat_index') }}">Contrats</a></li>
                <li><a href="{{ path('app_locataire_index') }}">Locataires</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </nav>
    {% endif %}

    {% block body %}{% endblock %}
    </body>
</html>
