{% extends 'base.html.twig' %}

{% block title %}Liste des contrats{% endblock %}

{% block body %}
<div class="table-wrapper">
    <h1>Liste des contrats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date d'Entrée</th>
                <th>Date de Sortie</th>
                <th>Montant du Loyer</th>
                <th>Montant des Charges</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.dateEntree ? contrat.dateEntree|date('d/m/Y') : '' }}</td>
                <td>{{ contrat.dateSortie ? contrat.dateSortie|date('d/m/Y') : '' }}</td>
                <td>{{ contrat.montantLoyer }} €</td>
                <td>{{ contrat.montantCharges }} €</td>
                <td>{{ contrat.statut }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">Afficher</a>
                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de contrats trouvés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="button-group">
        <a href="{{ path('app_accueil') }}" class="btn btn-primary">Accueil</a>
        <a href="{{ path('app_contrat_new') }}" class="btn btn-primary">Créer</a>
    </div>
</div>
{% endblock %}