{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>DateEntree</th>
                <td>{{ contrat.dateEntree ? contrat.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ contrat.dateSortie ? contrat.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MontantLoyer</th>
                <td>{{ contrat.montantLoyer }}</td>
            </tr>
            <tr>
                <th>MontantCharges</th>
                <td>{{ contrat.montantCharges }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ contrat.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contrat_index') }}">Accueil</a>

    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
